@model MyLocalGovt.Models.PetitionModel
@{
    ViewBag.Title = "Start A Petition";
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />    
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
}


<div class="box3">
    
        <div>
            @if (TempData["Success"] != null)
            {
                <div style="color:green; font-size:20px" class="alert alert-success">
                    @TempData["Success"].ToString();
                    <a href="#" class="close">&times;</a>
                </div>
            }
        </div>



        <div class="box3">
            <div class="col-md-12">
                @using (Html.BeginForm("Petition", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    <div class="col-md-4">
                        <div class="box7">
                            <div style="font-family: 'Adobe Gothic Std'; padding: 1% 3%; font-size: 1.8rem;" class="btn-block btn-primary">
                                <label for="CategoryId">Select Your Category<em style="color:red;">*</em></label>
                            </div>


                            <div data-toggle="buttons">
                                @foreach (var cat in Model.CategoryList)
                    {
                            <label class="btn btn-group-justified btn-danger" id="option-all" style="text-transform:uppercase;font-family: 'Adobe Gothic Std';">
                                @Html.RadioButtonFor(m => m.Selected, cat.CategoryNameId, new { @id = @cat.CategoryNameId, @required = "", tabindex = "1", type = "radio" })
                                @Html.Label(cat.Category)
                            </label>

                    }
                            </div>

                            <hr />
                            <div class="btn-block btn-primary">
                                <label style="font-family: 'Adobe Gothic Std'; padding: 2% 3%; font-size: 1.8rem;">Select Classification<em style="color:red;">*</em></label>
                            </div>

                            <div data-toggle="buttons">
                                @foreach (var comp in Model.ComplaintList)
                                {

                                    <label class="btn btn-group-justified btn-warning" id="option-all" style="text-transform:uppercase;font-family: 'Adobe Gothic Std';">
                                        @Html.RadioButtonFor(m => m.CompSelected, comp.ComplaintId, new { @id = @comp.ComplaintId, @required = "", tabindex = "1", type = "radio" })
                                        @Html.Label(comp.Complaint)
                                    </label>
                                }

                            </div>
                        </div>
                    </div>

    <div class="col-md-8">
        <div class="box8">

            <div class="col-md-12">
                <div class="form-group">
                    <label for="Title">Title<em style="color:red">*</em></label>
                    @Html.TextBoxFor(m => m.Title, new { @id = "surname", @class = " form-control input-lg ", @required = "", @placeholder = "Description of your petition" })
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label for="ToWhom">To Whom Are You Writing?<em style="color:red">*</em></label>
                    @Html.TextBoxFor(m => m.ToWhom, new { @id = "surname", @class = " form-control input-lg ", @required = "", @placeholder = "Who you want to write to" })
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label for="WhySign">Your Petition<em style="color:red">*</em></label>
                    @Html.TextAreaFor(m => m.WhySign, new { @id = "surname", @class = " form-control input-lg ", @required = "", @placeholder = "Reason for public support" })
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label for="Phone">Phone (Optional)</label>
                    @Html.TextBoxFor(m => m.Phone, new { @id = "surname", @class = " form-control input-lg ", @placeholder = "Phone number" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <span style=" color:red">
                        Upload
                    </span>
                    <input class="btn btn-primary" style="width:100%;" type="file" name="uploadedFile" />
                </div>
            </div>
 
                <div class=" col-md-12">
                    <div class="form-group">
                        <input style="width: 100%; background:darkblue; color:white;" type="submit" value="Make Your Aluta" class="btn btn-success btn-block" />
                    </div>
                </div>

            </div>
    </div>
                }
    </div>
            <div>
                <h4>Please note that If you are not logged in, you will be prompted to do so</h4>
                </div>

        </div>
        
    </div>

}