<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CampusPetition</title>
    <link href="~/Content/materialize/css/styles.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    
        @Scripts.Render("~/bundles/modernizr")

</head>
<body class="bodybackground">
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div style="background: #15012a;" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CAMPUS PETITION", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style="font-family: 'Copperplate Gothic'; color:white;" })
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    

        <div class="container body-content">
            <div class="box1">
                <img width="14%" src="~/Images/petis.png" />
                <span style="font-size:1.8rem; font-family: 'Freehand521 BT'; color: orange;">Nigeria's N0. 1 Petition Site</span>
            </div> 

            @RenderBody()
            <hr />

        </div>
    <div class="fb-share-button" data-href="https://www.johanutsystems.com/" data-layout="button_count"></div>
        <footer class="container body-content">
            <p>&copy; @DateTime.Now.Year - Campus Petition</p>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
